.header{
    background-color: black;
    color:red
}


.nav {
    color:red;
    text-decoration: none;    
}

.categorias{  
    margin-left: 230px;
    font-size: 20px;
}

.imagen{
    margin-top: 40px;
    width: 300px;
    
}